# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# IDE/editor
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Build / dist (se in futuro farai pacchetti)
build/
dist/
*.egg-info/
